.form-wrapper {
    margin-top: 20px;
    display: flex;
}

.input {
    display: inline-block;
    margin-right: 20px;
}

.form-button {
    margin-top: auto;
}

button {
    margin: 10px;
}

.MuiFormControl-root,
.MuiButton-containedSizeSmall {
    margin: 5px !important;
}


