.ui.container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #e1f5e7;
}

.form-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 8px 14px rgba(46, 70, 81, 0.15);
    /*width: 500px;*/
    /*height: 450px;*/
    /*justify-content: center;*/
}

.label {
    margin-bottom: 20px !important;
}

.form-box input {
    width: 40%;
    height: 40px;
    /*border-radius: 5px;*/
    margin-bottom: 20px !important;
}

button {
    display: block;
}

button a {
    height: 100%;
    width: 100%;
    padding: .78571429em 6em .78571429em;
}

.labeled.input {
    display: inline-flex;
}